<div
  class="p-4 max-sm:pt-[80px] bg-gray-100 rounded-sm min-h-full max-sm:pb-[134px]"
>
  <div class="sm:px-4">
    <div class="flex justify-between items-center">
    <h3 class="text-xl font-semibold">Dashboard</h3>
       <span class="bg-gray-300  border-gray-200  border-4 rounded-full">
         <a routerLink="jee" routerLinkActive="active" class=" rounded-full py-1 px-3 -mr-1 inline-block">JEE</a>
         <a  routerLink="neet" routerLinkActive="active" class=" rounded-full inline-block py-1 px-2">NEET</a>
      </span>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
