<div id="results" class="bg-slate-200 py-10">
  <div class="max-w-screen-2xl mx-auto w-[90vw]">
    <h2 class="text-center uppercase text-3xl font-semibold mb-6">Outstanding Result</h2>
    <div class="flex gap-5 flex-wrap justify-center">
      <div class="flex justify-center w-[120px] flex-col items-center">
        <div class="relative">

        <img class="rounded-full" width="100" height="100" loading="lazy" src="https://placehold.co/100x100" alt="img">
          <h3 class="absolute text-sm top-2 -left-5 rotate-[-35deg]  rounded-md bg-gray-900 px-2 text-white">AIR 96</h3>
        </div>
        <P class="text-xs text-gray-800 ">JEE Main</P>
        <p class="text-sm font-semibold">Abhinav Gupta</p>
      </div>
      <div class="flex justify-center w-[120px] flex-col items-center">
        <div class="relative">

        <img class="rounded-full" width="100" height="100" loading="lazy"  src="https://placehold.co/100x100" alt="img">
          <h3 class="absolute text-sm top-2 -left-5 rotate-[-35deg]  rounded-md bg-gray-900 px-2 text-white">AIR 134</h3>
        </div>
        <P class="text-xs text-gray-800 ">JEE Advance</P>
        <p class="text-sm font-semibold">Akriti Sharma</p>
      </div>
      <div class="flex justify-center w-[120px] flex-col items-center">
        <div class="relative">

        <img class="rounded-full" width="100" height="100" loading="lazy"  src="https://placehold.co/100x100" alt="img">
          <h3 class="absolute text-sm top-2 -left-5 rotate-[-35deg]  rounded-md bg-gray-900 px-2 text-white">AIR 134</h3>
        </div>
        <P class="text-xs text-gray-800 ">NEET</P>
        <p class="text-sm font-semibold">Anuuska Bansal</p>
      </div>
      <div class="flex justify-center w-[120px] flex-col items-center">
        <div class="relative">

        <img class="rounded-full" width="100" height="100" loading="lazy"  src="https://placehold.co/100x100" alt="img">
          <h3 class="absolute text-sm top-2 -left-5 rotate-[-35deg]  rounded-md bg-gray-900 px-2 text-white">AIR 997</h3>
        </div>
        <P class="text-xs text-gray-800 ">JEE Advance</P>
        <p class="text-sm font-semibold">Muskaan</p>
      </div>
      <div class="flex justify-center w-[120px] flex-col items-center">
        <div class="relative">

        <img class="rounded-full" width="100" height="100" loading="lazy"  src="https://placehold.co/100x100" alt="img">
          <h3 class="absolute text-sm top-2 -left-5 rotate-[-35deg]  rounded-md bg-gray-900 px-2 text-white">AIR 13</h3>
        </div>
        <P class="text-xs text-gray-800 ">JEE Main</P>
        <p class="text-sm font-semibold">Abhinav Gupta</p>
      </div>
    </div>
  </div>
</div>
