.dark{
  background: slategray;
  color: white;
  border: 1px solid black;
}
.aspect-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px; /* Set the desired width here */
  height: 15px; /* Set the same height as the width to make it square */
}
.light{
  background: #3b82f6;
}
.filter1{
  backdrop-filter: blur(5px);
}
.custom-file-input {
  padding: 5px 10px;
  border: 1px dashed #000;
  border-radius: 1rem;
  display: inline;
  text-align: center;
  cursor: pointer;
  transition: filter 0.3s;
  margin-bottom: 15px;
  white-space:nowrap;
}

input[type='file']::file-selector-button {
  display: none;
}
.custom-file-input.with-file {
  border: 1px solid transparent;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 92, 0.25);
}

.custom-file-input:hover {
  filter: brightness(0.85);
}

.custom-file-input input[type='file'] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
