<div id="about"  class="main  py-8  pt-12">
  <div class="max-w-screen-2xl mx-auto w-[90vw]">
    <h2 class="text-center font-semibold text-3xl items-center">
      About Us <span class="leaf bg-sky-300"></span>
    </h2>
    <div class="my-6 flex gap-10 justify-center items-center max-sm:flex-col">
      <div class=" max-w-[600px]">
        <p class="leading-7 pb-4 text-gray-700">
          <span class="font-semibold text-black text-xl">Project X</span> , founded in 2017 by visionary educator Haroon Saifi,
          is renowned for its exceptional coaching in JEE, NEET, and CBSE. Our
          impressive track record and student trust have led us to launch this
          website, offering tests, instant results, notes, and analytics.
        </p>
        <p class="leading-7 text-gray-700">
         <span class="font-semibold text-black text-xl">Our mission is clear:</span> provide top-notch education for academic and
          competitive success. We believe in unlocking potential through
          education, and our dedicated team is here to support your journey to
          excellence.
        </p>
      </div>
      <div class="min-w-[200px] flex justify-center flex-col items-center">
        <img class="img1 hover:scale-105 duration-500" width="400" height="400" loading="lazy"  src="https://placehold.co/400x400" alt="" />
        <p>Elon Musk</p>
        <p><strong>Founder</strong></p>
      </div>
    </div>
  </div>
</div>
