<footer class="bg-gray-200 border-t-[5px] border-gray-300">
  <div class="max-w-screen-lg mx-auto w-[90vw] py-5">
    <div
      class="flex  gap-5 max-sm:gap-1 max-sm:flex-col  max-sm:text-center justify-between my-2 text-gray-600"
    >
      <div class=" my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-xl text-black">Contact Number</h3>
        <div>
          <a class="hover:text-rose-500" href="tel:9199999999"
            >+91 9988776655</a
          >
        </div>
        <div>
          <a class="hover:text-rose-500" href="tel:91999999999"
            >+91 9922334455</a
          >
        </div>
      </div>
      <div class=" my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-xl text-black">Address</h3>
        <a
          href="#"
          class="hover:text-rose-500 inline-block max-w-[250px]"
          >H.No. 154 Yamuna Vihar near Taj Mahal Delhi-110006</a
        >
      </div>
      <div class=" my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-xl text-black">Navigate</h3>
        <div>
          <a class="hover:text-rose-500" routerLink="/logincallback"
            >Login Page</a
          >
        </div>
        <div>
          <a class="hover:text-rose-500" routerLink="/adminlogin"
            >Admin Page</a
          >
        </div>
      </div>
      <div class=" my-2 sm:max-w-[160px]">
        <h3 class="font-semibold text-xl text-black">LINKS</h3>
        <div class="flex gap-2 gap-y-1 flex-wrap max-sm:justify-center">

        <a
          class="hover:text-rose-500"
          href="#"
          ><i class="fa-brands fa-youtube fa-xl mr-2"></i
        >
          <span>Youtube</span>
        </a>
        <a
          class="hover:text-rose-500"
          href="#"
          ><i class="fa-brands mr-2 fa-instagram fa-xl"></i
        >
          <span>Instagram</span>

        </a>
        </div>
      </div>
    </div>
    <p class="text-center text-black text-sm mt-3">
      © 2023 Project X. All rights reserved.
    </p>
  </div>
</footer>
