<div class="main py-20">
  <div
    class="max-w-screen-2xl text-center flex flex-col items-center justify-center h-full mx-auto w-[90vw]"
  >
    <h1
      class="text-5xl text-gray-800 font-semibold text-center"
    >
      Welcome to Project<span class="text-rose-600">X</span>
    </h1>
    <p
      class="max-w-[600px] my-4 text-gray-600"
    >
      Elevate Your Future with Top-Tier JEE & NEET Coaching. Expert Faculty,
      Personalized Guidance, and Proven Results - Your Path to Success Starts
      Here. Enroll Now and Ignite Your Potential!
    </p>
    <div class="my-4 btn">
      <a (click)="login()" class="rounded-full bg-rose-700 text-white font-semibold p-2 px-4 mr-4"
        >Login</a
      ><a (click)="navigate('#contact')" class="rounded-full text-rose-700 bg-rose-100 p-2 px-4">Contact</a>
    </div>
  </div>
</div>
